@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:wght@300&display=swap');

html {
    font: 16px/1.5 'Raleway', sans-serif
}

body {
    font: inherit;
    padding: 3em 3em;
}

h1 {
    font-family: 'Great Vibes', cursive;
    line-height: 1.2;
    font-weight: bold;
}

ul {
    padding-left: 1.4em;
}