article {
    padding: 5px 15px;
    width: 700px;
    border: 1px solid #2bad7d;
    margin: 15px 10px;
    background-color: #f2f4c0;
}

article.comments {
    color: #5c6e91;
    font-style: italic;
}

body {
    background-color: #e4e978;
}

h1.comments-text {
    font-size: 28px;
}