* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    max-width: 30em;
    padding: 2em;
    min-width: 15em;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

@media (min-width: 900px) {
    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1em;
    }

}

.container header,
.container footer {
    flex: 0 0 100%;
}

.container header,
.container main,
.container aside,
.container footer {
    background-color: aqua;
    padding: 1.5em;
    border-radius: 0.4em;
}

aside {
    flex: 0 0 30%;
}

main {
    flex: 1 0 65%;
}

header p, main p {
    font-weight: bold;
    font-size: 32px;
}

main ul {
    padding-left: 2em;
}

aside ul {
    list-style: none;
}

a {
    text-decoration: none;
}

aside ul li {
    padding: 0.3em;
}